<footer class="footer">
  <small>
    Cloud Application Development Project | 
    Alex Wong:14364196
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Patients Archive", patients_path %></li>
    </ul>
  </nav>
</footer>